html,body {
  font-family: 'Lato', sans-serif;
  padding: 0 2em;
  font-size: 18px;
  background: #222;
  color: #aaa;
  text-align:center;
}

h1 {
  font-size: 3em;
  font-weight: 200;
  margin: 0.5em 0 0.2em 0;
}

p {
  margin: 1.5em 0;
  color: #888;
  font-weight: 200;
}

button {
  margin: 20px;
  font-size: 1.3em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: lighter;
}

#next {
  padding-left: 70px;
  padding-right: 70px; 
}

section.border button {
  color: #B4C0CC;
  background: rgba(0,0,0,0);
  border: solid 2px #B4C0CC ;
}
section.border button:hover,
section.border button.hover {
  border-color: #E0EFFF;
  color: #E0EFFF;
}
section.border button:active,
section.border button.active {
  border-color: #E0EFFF;
  color: #E0EFFF;
}

.italic { font-style: italic; }
.small { font-size: 0.8em; }

#thumbnail {
  max-width: 500px;
  max-height: auto;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.65);
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  outline: none;
  display: block;
}